body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #fafafa;
}

.accordion {
    margin: 1em auto;
    -webkit-box-shadow: 0px 0px 13px -7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 13px -7px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 13px -7px rgba(0, 0, 0, 0.3);
    background: #fff;
    overflow: hidden;
    padding: 25px;
    /* border-right: 3px solid #03CACA; */
    border-bottom: 4px solid #c2cdd8;
    border-radius: 15px;
}

.accordion-button {
    width: 100%;
    /* font-weight: normal; */
    /* color: rgba(0, 0, 0, 0.8); */
    color: #000D21;
    /*border-radius: 0 !important;*/
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    border-left: 5px solid #4834d4;
    margin-bottom: 15px;
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    /* background-color: #42dca3; */
    background: linear-gradient(135deg, #4834d4, #12e899);

    font-weight: 700;
    margin-bottom: auto;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    border-left: 3px solid #12e899;
    margin-bottom: 10px;
}

.accordion-item {
    border: none;
}


/* navbar */
.name-tag {
  /* font-weight: 500; */
  font-size: 1rem;
  color: #333; /* adjust as needed */
}



.active{
    /* color: #05769c !important; */
    /* color: white !important; */
    /* background: linear-gradient(135deg, #6c5ce7, #00cec9); */
     color: #007bff !important;
  /* border-bottom: 2px solid #007bff; */
    border-radius: 2px;
}

.nav-item{
    margin: 5px
}

.navbar-nav .nav-link {
  font-weight: 550;
  padding: 0.5rem 1rem;
  color: #333;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  text-transform: uppercase;
  scale: 0.95;
  /* display: inline-block; */
  /* border-bottom: 2px solid transparent; */
  /* position: relative;
  text-align: left;
  display: block */
}




.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #007bff;
  /* border-bottom: 2px solid #007bff; */
}

/* new */
nav {
background: #f0f0f0;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.content {
    margin-top: 90px;
}


/* navbar toggler */
.navbar-toggler {
    position: relative;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
     box-shadow: 0 0 0 2px rgba(0,123,255,0);
}


.navbar-toggler span {
    display: block;
    /* background-color: #000D21; */
    background-color: #000D21 !important;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

/* navbar toggler */


/* hash tag projects star */
.custom-tag {
  background-color: #f4f4f4;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.85rem;
  margin-right: 6px;
}

/* hash tag projects end */






@media (min-width: 768px) {
.active{
    color: white !important;
    background: linear-gradient(135deg, #4834d4, #0097a7);

}
  }

/* ico circle star*/
.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    display: block;
}


.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    transition: all 500ms ease;
}

.socials .ico-circle:hover {
    background-color: #cde1f8;
    color: #fff;
    /* box-shadow: 0 0 0 3px #cde1f8; */
     transition: all 0.3s ease-in-out;
     i{
        color:#000D21
    }
}

/* ico circle end*/
  
/* footer */
footer {
    background: #000D21;
    color: white;

    .logo-bottom {
        border: 3px solid #cde1f8;
        border-radius: 50%; 
        width:50px; 
        height:50px;
    }

    i {
        color:#cde1f8;
    }

   
}
  /* footer */